.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 70vh;
}

.form-login {
    background-color: var(--bianco);
    padding: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    position: relative;
    z-index: 10;

    border: 3px solid var(--nero);
    box-shadow: 8px 8px 0 var(--nero);
    border-radius: 0;
    transition:0.2 ease;
}
.form-login:hover {
  box-shadow: 4px 4px 0 var(--nero);
}


.login-input {
  font-size: 16px;
  padding: 12px 10px 12px 10px;
  display: block;
  width: 40%;
  border: 3px solid var(--nero);
  border-radius: 0;
  box-sizing: border-box;
}

.login-input:focus {
  outline: none;
  border-color: var(--celeste);
}

.login-label {
  color: var(--grigio);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 30%;
  transition: 0.2s ease all;
  background-color: var(--bianco);
  padding: 0 4px;
}

.login-input:focus + .login-label,
.login-input:not(:placeholder-shown) + .login-label {
  left: 0px;
  top: -17px;
  font-size: 12px;
  color: var(--celeste);
}

.login-gruppo {
  position: relative;
  margin-bottom: 10px;
}
