.registrazione-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 70vh;
}

.form-registrazione {
    background-color: white;
    padding: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    position: relative;
    z-index: 10;

    border: 3px solid black;
    box-shadow: 0px 8px 0px 0px black;
    border-radius: 8px;
    transition: 0.2s ease;

}
.form-registrazione:hover {
  box-shadow: 0px 4px 0px 0px black;
}


.registrazione-input {
  font-size: 16px;
  padding: 12px 10px 12px 10px;
  display: block;
  width: 40%;
  border: 2px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.registrazione-input:focus {
  outline: none;
  border-color: #007bff;
}

.registrazione-label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 30%;
  transition: 0.2s ease all;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 4px;
}

.registrazione-input:focus + .registrazione-label,
.registrazione-input:not(:placeholder-shown) + .registrazione-label {
  left: 0px;
  top: -17px;
  font-size: 12px;
  color: #007bff;
}

.registrazione-gruppo {
  position: relative;
  margin-bottom: 10px;
}

